@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Itim');
body {
	text-align: center;
	background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-653748450-1523095054.jpg");
	background-size: cover;
	font-family: "Itim", cursive;
	color:#3A27E8;
	font-size: 22px;
	line-height: 1.5em;
}
h1 {
	font-family: "Gloria Hallelujah", cursive;
	color:#7566E8;
}
h3 {
	font-family: "Gloria Hallelujah", cursive;
	font-style: italic;
	color:#FF6CA6;
}
ul {
    text-align: center;
    list-style-type: none;
}