body {
	text-align: center;
	background: url("https://images-gmi-pmc.edge-generalmills.com/7420bf77-909c-4a43-bc70-8cd0cf218ff8.jpg");
	background-size: cover;
	font-family: Helvetica;
	color: #FFFFFF;
}
h3{
	font-style: italic;
	background-color: #000000;
}
p{
	background-color: #000000;
}
li{
	text-align: center;
}